/*
/*/
*.o
*.cmd
!/capstone/
!rootkit.old.c
!LICENSE
!TODO.md
!README.md
!Makefile
!loader.c
!kernel.c
#!relocate-arrays.py
!.gitattributes
!.gitignore
!kernel.h
!hooks.h
!hooks.c
!extract-vmlinux
!extract-vermagic.py
!patch-vermagic.py
