/*
/*/
*.o
*.cmd
!/capstone/
!LICENSE
!TODO.md
!README.md
!Makefile
!loader.c
!kernel.c
!.gitattributes
!.gitignore
!kernel.h
!hooks.h
!hooks.c
!main.c
!patch-lkm.py
!extract-vmlinux
!rela-patch.c
!remove-unused.py
